.idea/docker-base.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/
docker-base.iml
.idea/10.5.iml
postgres/10.5/.idea/10.5.iml
postgres/10.5/.idea/modules.xml
postgres/10.5/.idea/workspace.xml
